table {
    border: 2px solid blueviolet;
    margin: 0 auto;
    width: 100%;
}

thead {
    background-color: orchid;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    font-family: monospace;
}

td {
    border-top: 1px solid blueviolet;
    padding: 0 50px;
    text-align: center;
}

footer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
}

.element {
    background-color: beige;
}

.title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
