/*Universal Styles */
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: seashell;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2, h3, h4, h5, p {
    padding: 10px;
    margin: 0;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}

p {
    font-size:14px;;
}

/* Header */
header {
    position: fixed;
    height: fit-content;
    min-height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    align-items: center;
    background-color: black;
}

header img {
    max-height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    padding: 20px 10px;
}

/* Main */
.main {
    padding-top: 69px;
}

/* Mission */
#mission {
    background-image: url(../Images/img-mission-background.jpg);
    height: 700px;
    margin: auto;
    width: auto;
    background-repeat: no-repeat;
}

.content {
    background-color: black;
    width: 100%;
    margin: auto;
    padding: 0 100px;
}

/* Tea of the Month */
#featured {
    width: 1000px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.tea {
    padding: 5px;
}

.tea img {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
}

.tea span {
    font-weight: bold;
}

/*Locations*/
#locations {
    background-image: url("../Images/img-locations-background.jpg");
    height: auto;
    width: auto;
    padding: 70px;
    margin: auto;
    background-repeat: no-repeat;
    background-position:center;
}

.location {
    background-color: black;
    width: 300px;
    margin: 15px 20px;
    padding: 20px;
    opacity: 1.0;
    display: flex;
    flex-direction: column;
}

/* Contact */
.contact {
    height: 200px;
    width: 100%;
    margin: auto;
}

/* Footer */
footer {
    text-align: left;
    padding: 20px;
    width: 100%;
}