* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    font-size:larger;
    font-weight:bolder;
    text-align: center;
    background-color: rgb(0, 195, 255);
    color:rgba(240, 248, 255, 0.911);
}

a {
    cursor: pointer;
    color:rgba(240, 248, 255, 0.952);
    text-decoration: none;
}

nav {
    text-align: center;
    box-sizing: border-box;
}

nav li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 20px 40px;
    width:30%;
    background-color: rgb(0, 195, 255);
    top: 0;
}

button {
    position: relative;
    width: 50%;
    margin: 20% 25%;
    height: 40px;
    font-weight:bolder;
    cursor:pointer;
}

footer {
    bottom: 1px;
    font-size:small;
}

#placeholder {
    font-size: 64px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
}