/*Universal styles*/
* {
    display: border-box;
}

/*header*/
header h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
}

/*Colors*/
#colors li {
    display: inline-block;
    border: black 1px solid;
    padding: 75px;
    margin: 20px;
}

.green {
    background-color: rgb(58, 148, 30);
    color: rgb(34, 32, 32);
}

.white {
    background-color: rgb(255, 255, 250);
    color:rgb(34, 32, 32);
}

.black {
    background-color: rgb(34, 32, 32);
    color: rgb(255, 255, 250);
}

/*Fonts*/
#fonts {

}



/*Text styles*/
#text-styles {

}

